:root {
  --current-text-color: #757575;
  --current-title-color: #212121;
  --current-white-color: #ffffff;
  --current-black-color: #000000;
  --accent-color: #2196f3;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--current-text-color);
  background-color: var(--current-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*------------------------------header-------------------------------*/

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo-half {
  color: var(--current-black-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--current-title-color);
}

.accent:hover,
.accent:focus {
  color: var(--accent-color);
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--current-text-color);
}

/*-----------------------------hero-------------------*/

.hero {
  background-color: var(--first-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--current-white-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--current-title-color);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--current-white-color);
  background-color: var(--accent-color);
}

/*------------------------------features-----------------------*/

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--current-title-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--current-text-color);
}

/*------------------------------about-----------------------*/

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--current-title-color);
}

/*------------------------------team-----------------------*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--current-title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--current-title-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--current-text-color);
}

/*------------------------------projects-----------------------*/

.filter-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--current-title-color);
  background-color: var(--second-bg-color);

  border: 0;
  border-radius: 4px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--current-title-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--current-text-color);
}

/*------------------------------footer-----------------------*/

.footer {
  background-color: var(--first-bg-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo-half {
  color: var(--current-white-color);
}

.footer-address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--current-white-color);
}

.footer-item-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
